#divInp>label {
    padding-right: 50px;
}


/* body {
    background-image: url("/image/open.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
} */

.jumbotron {
    background-color: aliceblue;
}